@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body, html {
  height: 100%;
}

:root {
  --primary: #FF6F0F;
  --secondary: #FFF0E6;
  --light: #F8F8F9;
  --dark: #001D23;
  --green1: #65B530;
}

body {
  font-family: "Saira",sans-serif;
  font-weight: 100;
  display: flex;
  overflow: hidden;
  background: url(../img/bg_login.jpg); 
  color: white;
  background-size: cover;
  text-align: center;
}

/* .container{
  width: 250px;
  margin: auto;
  margin-top: 50%;
  padding: 5px;
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(190, 190, 190, 0.44);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
} */

/* @media (max-width: 1400px) and (min-width: 577px) {
  .container{
    width: 250px;
    margin: auto;
    margin-top: 10%;
    padding: 5px;
    backdrop-filter: blur(17px) saturate(200%);
    -webkit-backdrop-filter: blur(17px) saturate(200%);
    background-color: rgba(190, 190, 190, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
  }
} */

.container{
  width: 250px;
  margin: auto;
  margin-top: 10%;
  padding: 5px;
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(190, 190, 190, 0.44);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
}

@media (max-width: 577px) {
  .container{
    display: none;
  }
}

input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input:focus {
  outline: 0 transparent solid;
}
input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form {
  min-height: 10rem;
  margin: auto;
  /* max-width: 50%; */
  padding: 0.5rem;
  padding-bottom: 0px;
}

.login-text {
  color: var(--green1);
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: 0.5rem;
  text-align: center;
}
.login-text .fa-stack-1x {
  color: white;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  font-weight: 700;
}
.login-username:focus, .login-password:focus {
  background: var(--green1);
  color: white;
  transition: 250ms background ease-in;
  font-weight: 700;
}

.login-forgot-pass {
  bottom: 0;
  color: var(--green1);
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
.login-forgot-pass:hover {
  opacity: 1;
}

.login-submit {
  border: 0;
  background: var(--green1);
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: 0.25rem 1rem;
  transition: 250ms background ease-in;
  border-radius: 6px;
  font-weight: bold;
}
.login-submit:hover, .login-submit:focus {
  background: white;
  color: var(--green1);
  transition: 250ms background ease-in;
}

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.underlay-photo {
  -webkit-animation: hue-rotate 6s infinite;
          animation: hue-rotate 6s infinite;
  /* background: url("../img/bg_login.jpg"); */
  background-size: cover;
  /* -webkit-filter: grayscale(30%); */
  z-index: -1;
}

.underlay-black {
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.kembali-ke-home {
  /* color: var(--green1); */
  color: white;
  font-size: small;
  text-decoration: none;
}

.kembali-ke-home:hover {
  color: var(--green1);
}

/* @-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
} */